html {
    overflow-y: scroll;
  }

body{
    background-image: url('./../assets/background.webp');
}

.windowMargin{
    margin-top: 60px; 
    margin-bottom: 60px;
}

.urgentHeader{
    color: red;
    font-size: 96px;
    text-align: center;
    animation: urgentHeaderAnimation 0.75s infinite;
    word-wrap: break-word;
}

.headerText{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabHeader{
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes urgentHeaderAnimation {
    0% { color: rgb(255, 21, 21); } 
    50% {color: rgb(209, 8, 8);} 
    100% { color: rgb(255, 21, 21); } 
  }

.flexContainerRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flexContainerColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.centeredText{
    text-align: center;
}

.headerNavigationBtn{
    width: 90px;
    height: 30px;
    margin-left: 2px;
    margin-right: 3px;
    margin-bottom: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.headerNavigationBtn:hover {
    transform: scale(1.06);
  }

.headerBanner{
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.aboutWindow{
    max-width: 800px;
}

.aboutArticle{
    margin-Top: 20px;
    margin-Bottom:20px; 
    max-Width:660px;
}

@media only screen 
and (max-device-width: 1000px){
    .aboutWindow{
        min-width: 95%;
    }

    .aboutArticle{
        max-Width:85%;
    }

    body{
        background-image: url('./../assets/background.png');
    }
}

.socialsBtn{
    max-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.socialsBtn:hover {
    transform: scale(1.1);
}

.galleryImage{
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.galleryImage:hover {
    opacity: .75;
    transform: scale(.95);
}

.fullscreenBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;
}

.fullscreenImage{
    text-align: center;
    max-height: 800px;
    max-width: 1900px;
    width: 99%;
}

.newWindow{
    width: 1000px; 
}

#gallerySection{
    max-Width: 930px; 
    min-Width: 930px; 
    margin-Top: 20px;
}

#galleryYear{
    max-Width: 900px;
    margin-Top: 20px;
}

.galleryArrows{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 30;
    width: 50px;
    height: 50px;
}

@media only screen 
and (max-device-width: 1000px)
{ 
    .newWindow{
    width: 95%; 
    }

    #gallerySection{
        max-Width: 90%; 
        min-Width: 100px; 
    }

    #galleryYear{
        max-Width: 90%;
    }

    .fullscreenImage{
        max-height: 100%;
        max-width: 100%;
    }

    .galleryArrows{
        position: absolute;
        top: 90%;
        transform: translateY(-90%);
        cursor: pointer;
        z-index: 30;
        width: 50px;
        height: 50px;
    }

} 