body{
    background-image: url('./../assets/background.gif');
}

.urgentHeader{
    color: red;
    font-size: 96px;
    text-align: center;
    animation: urgentHeaderAnimation 0.75s infinite;
    word-wrap: break-word;
}

.headerText{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabHeader{
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes urgentHeaderAnimation {
    0% { color: rgb(255, 21, 21); } 
    50% {color: rgb(209, 8, 8);} 
    100% { color: rgb(255, 21, 21); } 
  }

.flexContainerRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flexContainerColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.centeredText{
    text-align: center;
}

.headerNavigationBtn{
    width: 90px;
    height: 30px;
    margin-left: 2px;
    margin-right: 3px;
    margin-bottom: 8px;
    transition: transform 0.3s ease;
}

.headerNavigationBtn:hover {
    transform: scale(1.06);
  }

.headerBanner{
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.socialsBtn{
    max-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.socialsBtn:hover {
    transform: scale(1.1);
}
